.items{
	padding-top: 91px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	&__wrapper{
		flex: 1 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	&-pagination{
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		flex-shrink: 0;
		margin-bottom: 24px;
		button{
			color: #BDBDBD;
			cursor: pointer;
			border: none;
			background:transparent;
			width: 24px;
		}
	}
}

@media (max-width: 1440px){
  .items{
		padding-top: 24px;
		height: 92vh;
	}
}