.modal {
  width: 630px;
  height: 950px;
  margin: 1.5% auto;
  display: flex;
  flex-direction: column;
  background: #FCFCFC;
  border-radius: 30px;
  position: relative;
  font-size: 18px;
  line-height: 22px;

  img {
    object-fit: cover !important;
  }
 

  &__content {
    width: 100%;
    padding: 40px 24px 0 24px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 398px);
    @extend .custom-scrollbar;
  }

  &__top {
    display: flex;
    align-items: baseline;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    color: $color-black;
    margin-right: 8px;
    font-weight: 500;
  }

  &__quantity {
    color: $color-secondary;
    margin-bottom: 0 !important;
  }

  &__discount {
    width: 90px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    left: 24px;
    top: 28px;
    color: $color-white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 36px;
    line-height: 45px;
    color: $color-black;
    margin-bottom: 24px;
  }

  &__date {
    color: $color-secondary;
    margin-bottom: 24px;
  }

  &__text {
    margin-top: 24px;
    font-weight: 300;

    p {
      color: $color-black;
    }

    &_item {
      margin-bottom: 24px;
      
      p {
        color: $color-secondary;
      }
    }
  }

  &__specifications {
    h4 {
      font-size: 24px;
      line-height: 30px;
      color: $color-black;
      padding-bottom: 14px;
      border-bottom: 1px solid $color-secondary2;
      font-weight: 500;
    }

    ul {
      list-style: none;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      line-height: 21px;
      color: $color-secondary;
      padding: 16px 0;
      // border-top: 1px solid $color-secondary2;
      border-bottom: 1px solid $color-secondary2;
      font-weight: 300;
    }
  }



  img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  &__close {
    position: absolute;
    right: -70px;
    top: -20px;
  }

  &__footer {
    padding: 24px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-content {
      font-size: 24px;
      line-height: 25px;
    }

    &-actions {
      button {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000000000;
    overflow-y: auto;
    @extend .custom-scrollbar;
  }
}

