.navigation{
	height: 100%;
	display: flex;
	align-items: center;
  margin-left: 127px;

	&__marker {
		position: absolute;
		width: 4px;
		height: 4px;
		left: -15px;
    top: 6px;
		border-radius: 50%;

		&::before {
			display: none !important;
		}
	}

	&__list{
		display: flex;
		flex-direction: column;
    height: 700px;
		z-index: 10;
		border-left: 2px solid #E0E0E0;
		padding-left: 12px;
		list-style: none;
	}

	@for $i from 0 through 5 {
		.selected-#{$i} {
			::before{
				content: "0#{$i}";
				position: absolute;
				left: -40px;
			}
			a{
				opacity: 1;
			}
		}
	}
  
	&__item{
		position: relative;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		transition: all 0.5s;
    margin-bottom: 135px;

    &:nth-child(1) {
      margin-top: 40px;
    }

    &:last-child{
      margin-bottom: 57px;
    }

		a{
			transition: all 0.5s;
			opacity: 0.6;
			color: $color-primary;
		}
	}
}