.news-card {
  background: $color-white;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;

  img {
    object-fit: cover !important;
  }


  &__title,
  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $color-black;
    max-width: 268px;
    margin-bottom: 16px;
    margin-top: 24px;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
    color: $color-secondary;
    max-width: 268px;
    margin-top: 0;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  button {
    margin: auto auto 0 0;
    cursor: pointer;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    border-bottom: none !important;
    font-size: 12px !important;
    line-height: 15px !important;
  }
}