.shops {
  width: 100%;
  height: 100vh;
  position: relative;

  &__map {
    width: 100%;
    height: 100vh;
  }

  &__about {
    width: 366px;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
    background: $color-white;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 60%;
    padding: 40px;

    div {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: $color-black2;
      margin-bottom: 24px;
      display: flex;
      align-items: center;

      div {
        min-width: 24px !important;
        min-height: 24px !important;
      }

      p {
        margin-left: 20px;
        max-width: 250px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 286px;
      height: 48px;
      color: $color-white;
      border-radius: 30px;
    }
   
  }
}