.tabs{
	list-style: none;
	margin-bottom: 16px;
	
	&__item{
		display: inline-block;
		padding-right: 40px;
		cursor: pointer;

		a{
			color: $color-primary;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			opacity: 0.6;
			border-bottom: 2px solid $color-white;
			transition: all 0.5s;
		}
	}
}
